*{
    margin: 0 auto; padding: 0px;
}
#sisTop{
    width: 600px;
    margin: 30px auto;
    text-align: center;
    display: flex;
    align-items: center;
}
#sisTop fieldset{
    width: 250px;
}
#sisTop input{
    margin-bottom: 20px;
}
#sisTop legend{
    margin-bottom: 20px;
}
#cBottom{
    margin-bottom: 25px;
}

.sisBottom{
    width: 1000px; padding: 15px 0px 25px;
}
table{
    width: 950px; text-align: center;
}
th,td{
    padding: 5px 0px
}